
.left-box {
    width: 60%;
    display: inline-block;
}
.right-box {
    width: 35%;
    display: inline-block;
    margin:  24px 0 0 5%;
    vertical-align: top;

}
.grid {
    display: inline-block;
    margin: 24px 0;
    width: 100%;
}

.grid a {
    border: 1px solid #ddd;
    flex: 1;
    text-align: center;
    color: #333;
    padding: 8px;
}
.grid a + a {
    border-left: none;
}

.grid .row:nth-child(2) a {
    border-top: none;
}
.row {
    display: flex;
    justify-content: space-around;
}

.channel {
    display: block;
}

.channel .title-box {
    border-left: 2px solid #fb7299;
    padding: 0 0 0 12px;
}

.title-box a {
    display: inline-block;
    color: #fb7299;
    float: right;
}

.sub a {
    width: 25%;
    display: inline-block;
    color: #333;
}

.sub-b a {
    width: 33%;
}
.sub-title {
    margin: 8px 0;
}
.sub a::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #ddd;
    margin: 0 4px 0 0;
}
