@import '~antd/dist/antd.css';
.app {

}
body {
  padding: 0px;
  background: #f6f6f6;
}
nav ul {
  padding: 0;
}
nav li {
  list-style: none;
  display: inline-block;
  margin: 0px 12px;
  font-size: 16px;
}

.underline {
  text-decoration: underline;
}

.outlet {
  width: 960px;
  margin: 12px auto;
}