
.header {
    border-bottom: 1px solid #ddd;
    padding: 4px;
    background: #fff;
}

.header-sub {
    width: 960px;
    margin: 0 auto;
}

.logo {
    width: 48px;
}

.desc {
    vertical-align: middle;
    margin: 0 0 0 24px;
}

.header-sub ul {
    float: none;
    display: inline-block;
    margin: 0px 0 0 18px;
    vertical-align: middle;
}

ul a {
    font-size: 14px;
    color: #333;
}

.search {
    width: 240px;
    
    margin:  0 0 0 48px;
}

.header-sub > * {
    vertical-align: middle;
}

.btn-publish {
    margin: 0 0 0 12px;
}


.anticon-down {
    font-size: 12px;
    margin:  0 0 0 -8px;
}

.header-sub .avatar {
    width: 32px;
    border-radius: 50%;
}